<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Thymeleaf Exercise #</title>
  <meta charset="utf-8"/>
</head>
<body>
  <li><a th:href="@{/useful}">USEFUL</a></li><br>
  <li><a th:href="@{/useful/colored}">COLORED</a></li><br>
  <li><a th:href="@{/useful/email(email='valid@email.is')}">EMAIL</a></li><br>
  <li><a th:href="@{/useful/encoder(text='example', number=1)}">ENCODER</a></li><br>
  <li><a th:href="@{/useful/encode(text='fybnqmf', number=-1)}">DECODER</a></li><br>
</body>
</html>
