<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Thymeleaf Exercise #</title>
    <link rel="stylesheet" th:href="@{/accountsStyleSheet.css}" />
    <meta charset="utf-8" />
</head>
<body>
  <table>
    <thead>
      <th>Name</th>
      <th>Balance</th>
      <th>Animal Type</th>
    </thead>
    <tbody>
      <tr th:each=" bankAccount : ${multipleAccount}">
        <td th:text="${bankAccount.getName()}"></td>
        <td th:text="${#numbers.formatDecimal(bankAccount.getBalance(), 0, 2, 'POINT')}"></td>
        <td th:text="${bankAccount.getAnimalType()}"></td>
      </tr>
    </tbody>
  </table>
</body>
</html>